{% extends 'core/base.html' %}

{% block head %}

{% endblock %}

{% block full_content %}

    <br>
    {% if user.is_authenticated %}
        <a href="{% url 'photo_album_delete' album_pk %}" class="btn-danger">Удалить альбом</a>

{#        <a>Добавить фотографии</a>#}

        <form method="POST" action={% url 'photo_add' album_pk %} enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input name="files" type="file" multiple="multiple">
            </div>
            <input type="submit" class="btn btn-success" value="Добавить">
        </form>

        <br>
    {% endif %}

    {% for photo in object_list %}
        <a rel="gallery" class="photo" href="{{ photo.image.url }}">
            <img class=" img-rounded" src="{{ photo.image.url }}" height="100" width="100" alt="" />
        </a>
    {% endfor %}

<hr>
     <span class="step-links">


    <div class="pagination">
        <ul class="pager">

            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Предыдущая страница</a></li>

            {% endif %}

            <span class="current">
                <li> Страница {{ page_obj.number }} из {{ paginator.num_pages }}.</li>

            </span>



            {% if page_obj.has_next %}
                 <li>  <a href="?page={{ page_obj.next_page_number }}">Следующая</a>.</li>

            {% endif %}
         </ul>
    </div>
        </span>
{% endblock %}

   {% block js %}

       <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/fancyBox/jquery.fancybox.css?v=2.1.5" media="screen" />
       <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/fancyBox/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
       <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/fancyBox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />


       <script type="text/javascript" src="{{ STATIC_URL }}core/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

       <script type="text/javascript" src="{{ STATIC_URL }}core/fancyBox/jquery.fancybox.js?v=2.1.5"></script>
       <script type="text/javascript" src="{{ STATIC_URL }}core/fancyBox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
       <script type="text/javascript" src="{{ STATIC_URL }}core/fancyBox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
       <script type="text/javascript" src="{{ STATIC_URL }}core/fancyBox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <script type="text/javascript">
        console.log('hello');
        $(document).ready(function(){
            $(".photo").fancybox();
        });

         </script>


       <style type="text/css">
           .gallery img{
             /* внешние отступы картинок */
                margin:5px;
             /* рамка картинок */
                border:2px solid #ffffff;
            }
            a.photo:hover img{
             /* изменение цвета рамки при наведении на картинку */
                border:2px solid #7e5a25;
            }
       </style>
        {% endblock %}