{% extends 'core/base.html' %}

{% block full_screan %}

    {% if user.is_authenticated %}
        <a href="/admin/karate/videos/add/">Добавить видео</a>
        (переходим на видев ютубе -> жмем кнопку поделиться -> выбираем HTML код)
        <h5> width="400" height="280" - желательно </h5>
        <hr>
    {% endif %}

    {% for video in object_list %}
        {{ video.href|safe }}
        {{ video.name }}
        <br>
    {% endfor %}

{% endblock %}