{% extends 'core/base.html' %}

{% block full_screan %}
     <br>
            <h1>Дополнительная ифнормация</h1>
            <br>
    <div class="row">
        <div class="col-lg-6">

            <h3>Тренер:</h3>
            <h4>Александр Катенев</h4>
            <br>
            <h4>Номер телефона: </h4> <h4> *********</h4>
        </div>
        <div class="col-lg-6">
            <img alt="Добро пожаловать" class="img-thumbnail img-responsive" src="{{ STATIC_URL }}core/images/Katenev.jpg">
        </div>
    </div>
    <h3> Время занятий:</h3>
    <table class="table  table-responsive table-bordered table-hover">
        <tr>
            <td>Понедельник</td>
            <td>17-19</td>
        </tr>
        <tr>
            <td>Среда</td>
            <td>17-19</td>
        </tr>
        <tr>
            <td>Пятница</td>
            <td>17-19</td>
        </tr>
    </table>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img width="640" height="480" class="img-responsive" src="http://skylinksports-education.com/assets/images/carate.jpg" alt="Chania">
    </div>

    <div class="item">
      <img width="640" height="480" class="img-responsive" src="http://www.glasgowkarate.net/wp-content/uploads/bfi_thumb/Karate_04-1024x686-980x610-2z9rt6l25kmyvumc7p7ymi.jpg" alt="Chania">
    </div>

    <div class="item">
      <img width="640" height="480" class="img-responsive" src="http://uedadojo.com/assets/images/20110902-_tom1928.jpg" alt="Flower">
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}