{% extends 'core/base.html' %}

{% block full_content %}

    <br>
    {% if user.is_authenticated %}

        <a class="btn btn-default" href="{% url 'article_create' %}">Добавить статью</a>
        <hr>
    {% endif %}

    <table class="table table-responsive table-hover">
        {% for object in page_obj %}

            <tr>
                <th colspan="2" class="active">Название статьи: {{ object.name }}</th>
            </tr>

            <tr>
                <td colspan="2">Краткое содержание: {{ object.short_text }}</td>
            </tr>

            <tr class="warning">
                <td>{{ object.dc }}</td>
                <td><a href="{% url 'article-detail' object.pk %}">Подробнее</a></td>
            </tr>

        {% endfor %}
    </table>

    <ul class="pager">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>

        {% endif %}

        Страница {{ page_obj.number }} из {{ paginator.num_pages }}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Следующая</a>.</li>
        {% endif %}
    </ul>


     <span class="step-links">


    <div class="pagination">
        <ul class="pager">

            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Предыдущая страница</a></li>

            {% endif %}

            <span class="current">
                <li> Страница {{ page_obj.number }} из {{ paginator.num_pages }}.</li>

            </span>

            {% if page_obj.has_next %}
                 <li>  <a href="?page={{ page_obj.next_page_number }}">Следующая</a>.</li>

            {% endif %}
         </ul>
    </div>
        </span>

{% endblock %}
