{% extends 'core/base.html' %}

{% block full_content %}

    <h2><kbd>{{ object.name }}</kbd></h2>
    <br>
    {{ object.text|safe }}

    <hr>
    {% if user.is_authenticated %}
        <a class="btn btn-danger" href="{% url 'article_delete' object.pk %}"> Удалить статью</a>
        <a class="btn btn-info" href="{% url 'article_update' object.pk %}"> Редактировать статью</a>
        <br>
        <br>
    {% endif %}
{% endblock %}