<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title|default:'' }}</title>

    <link href="{{ STATIC_URL }}core/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}core/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}core/css/main.css" rel="stylesheet" type="text/css">

    {% block head %}{% endblock head %}
</head>

<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#"><img src="{{ STATIC_URL }}core/images/karate-logo.svg" id="logo"></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#menu" aria-expanded="false">
                        <span class="sr-only">Открыть меню</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'article_list' %}">Статьи</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Мультимедиа<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Фото</a></li>
                                <li><a href="#">Видео</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'plan_of_events_list' %}">Мероприятия</a></li>
                        <li><a href="#">Дополнительно</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container drop-shadow">
    <div class="container">
        {% block full_content %}

            <div class="col-lg-12">
                {% block full_screan %} {% endblock %}
                <table class="table  table-bordered table-hover">
                    {% block table %}
                    {% endblock table %}
                </table>

            </div>
            {% if title %} <h2 class="bg-info text-center"> {{ title }} </h2>{% endif %}
            <div class="col-lg-8">
                {% block content %}{% endblock content %}

                {% if form_get %}
                    <form class="form-horizontal" role="form" action="{{ request.path }}" method="get">
                        <div class="form-group">
                            {{ form_get.as_p }}
                            <input class='btn btn-info' type="submit" value="Ok"/>
                        </div>

                    </form>
                {% endif %}

                {% if form_post %}
                    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {{ form_post|crispy }}
                        <input class='btn btn-info' type="submit" value="Ok"/>
                    </form>
                {% endif %}


            </div>
            <div class="col-lg-4">
                {% block sidebar %}{% endblock sidebar %}
            </div>



        {% endblock full_content %}
    </div>
</div>

<!-- note that there's also blue.uni-form.css and dark.uni-form.css available if you want to try changing defaults up -->
{#<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" type="text/css" />#}
{#<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/default.uni-form.css" type="text/css" />#}
{#<!-- uni-form JS library, optional -->#}
{#<script src="{{ STATIC_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>#}

{#{% crispy %}#}
{% load crispy_forms_tags %}
<script>
    $(function () {
        $('form.uniForm').uniform();
    });
</script>


<footer class="footer">
    <div class="container">
        <p class="text-muted">Сделано с душою &copy;</p>
    </div>
</footer>

<script src="{{ STATIC_URL }}core/js/jquery-2.1.4.min.js"></script>
<script src="{{ STATIC_URL }}core/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>